@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
  
}

main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px #99827cbd;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1{
  text-align: center;
  color: #D9A78B;
  text-shadow: 1px 1px 2px #856654ab;
}

h2{
  color: #8C4227;
}

body{
  background-image: linear-gradient(to right,#D9998B, #F2CDC4);
}

p{
  text-align: justify;
};



